<div class="container-fluid">
    <div class="card">
        <div class="card-header text-center">
            Склад
        </div>
        <div class="card-body">
            <button class="btn btn-outline-success btn-block" data-toggle="modal"
                    data-target="#newClothModal" (click)="newClothForm.reset()">Добавить
            </button>
            <div class="modal fade" id="newClothModal" tabindex="-1" role="dialog" aria-labelledby="newClothModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newClothModalLabel">Добавление на склад</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="newClothForm" (ngSubmit)="createNewClothes()">
                                <div class="form-group">
                                    <label for="type">Тип</label>
                                    <select class="form-control" id="type" formControlName="type"
                                            [ngClass]="{
                                                    'is-invalid': (newClothForm.get('type').dirty || newClothForm.get('type').touched) && newClothForm.get('type').errors,
                                                    'is-valid': (newClothForm.get('type').dirty || newClothForm.get('type').touched) && !newClothForm.get('type').errors
                                                    }"
                                    >
                                        <option *ngFor="let type of types" [ngValue]="type.key">{{type.value}}</option>
                                    </select>
                                    <span *ngIf="(newClothForm.get('type').dirty || newClothForm.get('type').touched) && newClothForm.get('type').hasError('required')"
                                          class="text-danger">
                                        Выберите тип
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="color">Цвет</label>
                                    <select class="form-control" id="color" formControlName="color"
                                            [ngClass]="{
                                                    'is-invalid': (newClothForm.get('color').dirty || newClothForm.get('color').touched) && newClothForm.get('color').errors,
                                                    'is-valid': (newClothForm.get('color').dirty || newClothForm.get('color').touched) && !newClothForm.get('color').errors
                                                    }"
                                    >
                                        <option *ngFor="let color of colors"
                                                [ngValue]="color.key">{{color.value}}</option>
                                    </select>
                                    <span *ngIf="(newClothForm.get('color').dirty || newClothForm.get('color').touched) && newClothForm.get('color').hasError('required')"
                                          class="text-danger">
                                        Выберите цвет
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="size">Размер</label>
                                    <select class="form-control" id="size" formControlName="size"
                                            [ngClass]="{
                                                    'is-invalid': (newClothForm.get('size').dirty || newClothForm.get('size').touched) && newClothForm.get('size').errors,
                                                    'is-valid': (newClothForm.get('size').dirty || newClothForm.get('size').touched) && !newClothForm.get('size').errors
                                                    }"
                                    >
                                        <option *ngFor="let size of sizes" [ngValue]="size">{{size}}</option>
                                    </select>
                                    <span *ngIf="(newClothForm.get('size').dirty || newClothForm.get('size').touched) && newClothForm.get('size').hasError('required')"
                                          class="text-danger">
                                        Выберите размер
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="price">Цена</label>
                                    <input type="text" class="form-control" id="price" formControlName="price"
                                           [ngClass]="{
                                                    'is-invalid': (newClothForm.get('price').dirty || newClothForm.get('price').touched) && newClothForm.get('price').errors,
                                                    'is-valid': (newClothForm.get('price').dirty || newClothForm.get('price').touched) && !newClothForm.get('price').errors
                                                    }"
                                    >
                                    <span *ngIf="(newClothForm.get('price').dirty || newClothForm.get('price').touched) && newClothForm.get('price').hasError('pattern')"
                                          class="text-danger">Некорректная цена</span>
                                    <span *ngIf="(newClothForm.get('price').dirty || newClothForm.get('price').touched) && newClothForm.get('price').hasError('required')"
                                          class="text-danger">Введите цену</span>
                                </div>
                                <div class="form-group">
                                    <label for="description">Описание</label>
                                    <textarea class="form-control" id="description"
                                              formControlName="description"
                                              [ngClass]="{
                                                    'is-invalid': (newClothForm.get('description').dirty || newClothForm.get('description').touched) && newClothForm.get('description').errors,
                                                    'is-valid': (newClothForm.get('description').dirty || newClothForm.get('description').touched) && !newClothForm.get('description').errors
                                                    }"
                                    ></textarea>
                                    <span *ngIf="(newClothForm.get('description').dirty || newClothForm.get('description').touched) && newClothForm.get('description').hasError('required')"
                                          class="text-danger">Введите описание</span>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    (click)="createNewClothes()" [disabled]="!newClothForm.valid">Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <small>Тип</small>
                </div>
                <div class="col-2">
                    <small>Цвет</small>
                </div>
                <div class="col-1">
                    <small>Разм.</small>
                </div>
                <div class="col-7">
                    <small>Действия</small>
                </div>
            </div>
            <div class="row" *ngFor="let cloth of warehouseClothes">
                <div class="col-2">
                    <small>{{cloth.type}}</small>
                </div>
                <div class="col-2">
                    <small>{{cloth.color}}</small>
                </div>
                <div class="col-1">
                    <small>{{cloth.size}}</small>
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-info btn-sm" data-toggle="modal"
                            [attr.data-target]="'#editClothModal_' + cloth.id" (click)="startEditCloth(cloth)">
                        Подробнее/Редактировать
                    </button>
                    <div class="modal fade" [attr.id]="'editClothModal_' + cloth.id" tabindex="-1" role="dialog"
                         [attr.aria-labelledby]="'editModalLabel_' + cloth.id"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" [attr.id]="'editModalLabel_' + cloth.id">Подробности</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="editClothFormInWareHouse" (ngSubmit)="updateCloth()">
                                        <div class="form-group">
                                            <label for="type">Тип</label>
                                            <select class="form-control" id="type" formControlName="type"
                                                    [ngClass]="{
                                                    'is-invalid': (editClothFormInWareHouse.get('type').dirty || editClothFormInWareHouse.get('type').touched) && editClothFormInWareHouse.get('type').errors,
                                                    'is-valid': (editClothFormInWareHouse.get('type').dirty || editClothFormInWareHouse.get('type').touched) && !editClothFormInWareHouse.get('type').errors
                                                    }">
                                                <option *ngFor="let type of types"
                                                        [ngValue]="type.key">{{type.value}}</option>
                                            </select>
                                            <span *ngIf="(editClothFormInWareHouse.get('type').dirty || editClothFormInWareHouse.get('type').touched) && editClothFormInWareHouse.get('type').hasError('required')"
                                                  class="text-danger">Выберите тип</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="color">Цвет</label>
                                            <select class="form-control" id="color" formControlName="color"
                                                    [ngClass]="{
                                                    'is-invalid': (editClothFormInWareHouse.get('color').dirty || editClothFormInWareHouse.get('color').touched) && editClothFormInWareHouse.get('color').errors,
                                                    'is-valid': (editClothFormInWareHouse.get('color').dirty || editClothFormInWareHouse.get('color').touched) && !editClothFormInWareHouse.get('color').errors
                                                    }">
                                                <option *ngFor="let color of colors"
                                                        [ngValue]="color.key">{{color.value}}</option>
                                            </select>
                                            <span *ngIf="(editClothFormInWareHouse.get('color').dirty || editClothFormInWareHouse.get('color').touched) && editClothFormInWareHouse.get('color').hasError('required')"
                                                  class="text-danger">Выберите цвет</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="size">Размер</label>
                                            <select class="form-control" id="size" formControlName="size"
                                                    [ngClass]="{
                                                    'is-invalid': (editClothFormInWareHouse.get('size').dirty || editClothFormInWareHouse.get('size').touched) && editClothFormInWareHouse.get('size').errors,
                                                    'is-valid': (editClothFormInWareHouse.get('size').dirty || editClothFormInWareHouse.get('size').touched) && !editClothFormInWareHouse.get('size').errors
                                                    }">
                                                <option *ngFor="let size of sizes" [ngValue]="size">{{size}}</option>
                                            </select>
                                            <span *ngIf="(editClothFormInWareHouse.get('size').dirty || editClothFormInWareHouse.get('size').touched) && editClothFormInWareHouse.get('size').hasError('required')"
                                                  class="text-danger">Выберите размер</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="price">Цена</label>
                                            <input type="text" class="form-control" id="price" formControlName="price"
                                                   [ngClass]="{
                                                    'is-invalid': (editClothFormInWareHouse.get('price').dirty || editClothFormInWareHouse.get('price').touched) && editClothFormInWareHouse.get('price').errors,
                                                    'is-valid': (editClothFormInWareHouse.get('price').dirty || editClothFormInWareHouse.get('price').touched) && !editClothFormInWareHouse.get('price').errors
                                                    }">
                                            <span *ngIf="(editClothFormInWareHouse.get('price').dirty || editClothFormInWareHouse.get('price').touched) && editClothFormInWareHouse.get('price').hasError('pattern')"
                                                  class="text-danger">Некорректная цена</span>
                                            <span *ngIf="(editClothFormInWareHouse.get('price').dirty || editClothFormInWareHouse.get('price').touched) && editClothFormInWareHouse.get('price').hasError('required')"
                                                  class="text-danger">Введите цену</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Описание</label>
                                            <textarea class="form-control" id="description"
                                                      formControlName="description"
                                                      [ngClass]="{
                                                    'is-invalid': (editClothFormInWareHouse.get('description').dirty || editClothFormInWareHouse.get('description').touched) && editClothFormInWareHouse.get('description').errors,
                                                    'is-valid': (editClothFormInWareHouse.get('description').dirty || editClothFormInWareHouse.get('description').touched) && !editClothFormInWareHouse.get('description').errors
                                                    }"
                                            ></textarea>
                                            <span *ngIf="(editClothFormInWareHouse.get('description').dirty || editClothFormInWareHouse.get('description').touched) && editClothFormInWareHouse.get('description').hasError('required')"
                                                  class="text-danger">Введите описание</span>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                                    </button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            (click)="updateCloth(cloth)" [disabled]="!editClothFormInWareHouse.valid">
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-warning btn-sm" (click)="move(cloth.id)">В магазин</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-danger btn-sm" (click)="removeClothes(cloth.id)">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>
