<div class="container-fluid">
    <div class="card">
        <div class="card-header text-center">
            Магазин
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <small>Тип</small>
                </div>
                <div class="col-2">
                    <small>Цвет</small>
                </div>
                <div class="col-1">
                    <small>Разм.</small>
                </div>
                <div class="col-7">
                    <small>Действия</small>
                </div>
            </div>
            <div class="row" *ngFor="let cloth of storeClothes">
                <div class="col-2">
                    <small>{{cloth.type}}</small>
                </div>
                <div class="col-2">
                    <small>{{cloth.color}}</small>
                </div>
                <div class="col-1">
                    <small>{{cloth.size}}</small>
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-info btn-sm" data-toggle="modal"
                            [attr.data-target]="'#editClothModalInStore_' + cloth.id" (click)="startEditCloth(cloth)">
                        Подробнее/Редактировать
                    </button>
                    <div class="modal fade" [attr.id]="'editClothModalInStore_' + cloth.id" tabindex="-1" role="dialog"
                         [attr.aria-labelledby]="'editModalLabelInStore_' + cloth.id"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" [attr.id]="'editModalLabelInStore_' + cloth.id">
                                        Подробности</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="editClothFormInStore" (ngSubmit)="updateCloth(cloth)">
                                        <div class="form-group">
                                            <label for="type">Тип</label>
                                            <select class="form-control" id="type" formControlName="type"
                                                    [ngClass]="{
                                                    'is-invalid': (editClothFormInStore.get('type').dirty || editClothFormInStore.get('type').touched) && editClothFormInStore.get('type').errors,
                                                    'is-valid': (editClothFormInStore.get('type').dirty || editClothFormInStore.get('type').touched) && !editClothFormInStore.get('type').errors
                                                    }"
                                            >
                                                <option *ngFor="let type of types"
                                                        [ngValue]="type.key">{{type.value}}</option>
                                            </select>
                                            <span *ngIf="(editClothFormInStore.get('type').dirty || editClothFormInStore.get('type').touched) && editClothFormInStore.get('type').hasError('required')"
                                                  class="text-danger">Выберите тип</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="color">Цвет</label>
                                            <select class="form-control" id="color" formControlName="color"
                                                    [ngClass]="{
                                                    'is-invalid': (editClothFormInStore.get('color').dirty || editClothFormInStore.get('color').touched) && editClothFormInStore.get('color').errors,
                                                    'is-valid': (editClothFormInStore.get('color').dirty || editClothFormInStore.get('color').touched) && !editClothFormInStore.get('color').errors
                                                    }"
                                            >
                                                <option *ngFor="let color of colors"
                                                        [ngValue]="color.key">{{color.value}}</option>
                                            </select>
                                            <span *ngIf="(editClothFormInStore.get('color').dirty || editClothFormInStore.get('color').touched) && editClothFormInStore.get('color').hasError('required')"
                                                  class="text-danger">Выберите цвет</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="size">Размер</label>
                                            <select class="form-control" id="size" formControlName="size"
                                                    [ngClass]="{
                                                    'is-invalid': (editClothFormInStore.get('size').dirty || editClothFormInStore.get('size').touched) && editClothFormInStore.get('size').errors,
                                                    'is-valid': (editClothFormInStore.get('size').dirty || editClothFormInStore.get('size').touched) && !editClothFormInStore.get('size').errors
                                                    }"
                                            >
                                                <option *ngFor="let size of sizes" [ngValue]="size">{{size}}</option>
                                            </select>
                                            <span *ngIf="(editClothFormInStore.get('size').dirty || editClothFormInStore.get('size').touched) && editClothFormInStore.get('size').hasError('required')"
                                                  class="text-danger">Выберите размер</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="price">Цена</label>
                                            <input type="text" class="form-control" id="price" formControlName="price"
                                                   [ngClass]="{
                                                    'is-invalid': (editClothFormInStore.get('price').dirty || editClothFormInStore.get('price').touched) && editClothFormInStore.get('price').errors,
                                                    'is-valid': (editClothFormInStore.get('price').dirty || editClothFormInStore.get('price').touched) && !editClothFormInStore.get('price').errors
                                                    }"
                                            >
                                            <span *ngIf="(editClothFormInStore.get('price').dirty || editClothFormInStore.get('price').touched) && editClothFormInStore.get('price').hasError('pattern')"
                                                  class="text-danger">Некорректная цена</span>
                                            <span *ngIf="(editClothFormInStore.get('price').dirty || editClothFormInStore.get('price').touched) && editClothFormInStore.get('price').hasError('required')"
                                                  class="text-danger">Введите цену</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Описание</label>
                                            <textarea class="form-control" id="description"
                                                      formControlName="description"
                                                      [ngClass]="{
                                                    'is-invalid': (editClothFormInStore.get('description').dirty || editClothFormInStore.get('description').touched) && editClothFormInStore.get('description').errors,
                                                    'is-valid': (editClothFormInStore.get('description').dirty || editClothFormInStore.get('description').touched) && !editClothFormInStore.get('description').errors
                                                    }"
                                            >
                                            </textarea>
                                            <span *ngIf="(editClothFormInStore.get('description').dirty || editClothFormInStore.get('description').touched) && editClothFormInStore.get('description').hasError('required')"
                                                  class="text-danger">Введите описание</span>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                                    </button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            (click)="updateCloth(cloth)" [disabled]="!editClothFormInStore.valid">
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-warning btn-sm" (click)="move(cloth.id)">На склад</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-danger btn-sm" (click)="removeClothes(cloth.id)">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>
