<div class="row h-100">
  <div class="col-6">
    <app-location-component [update]="clothesUpdated"></app-location-component>
  </div>
  <div class="col-6">
    <app-warehouse [update]="clothesUpdated"></app-warehouse>
  </div>
</div>
